csharp/SSO With Web Reference (WSDL)/App_WebReferences/ConciergeAPI/mex16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Searching" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Searching" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:81/mex?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" />
  <xs:import schemaLocation="https://localhost:81/mex?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" />
  <xs:complexType name="SearchManifest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseObject" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="BatchOperations" nillable="true" type="q1:ArrayOfBatchOperation" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" minOccurs="0" name="DefaultFindColumns" nillable="true" type="q2:ArrayOfSearchOutputColumn" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" minOccurs="0" name="DefaultQuickSearchColumns" nillable="true" type="q3:ArrayOfSearchOutputColumn" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" minOccurs="0" name="DefaultSelectedFields" nillable="true" type="q4:ArrayOfSearchOutputColumn" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" minOccurs="0" name="DefaultSortFieds" nillable="true" type="q5:ArrayOfSearchSortColumn" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailBlastEligible" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="Fields" nillable="true" type="q6:ArrayOfFieldMetadata" />
      <xs:element minOccurs="0" name="Module" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="OutputFormats" nillable="true" type="q7:ArrayOfPickListEntry" />
      <xs:element minOccurs="0" name="SearchContext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewCommand" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchManifest" nillable="true" type="tns:SearchManifest" />
  <xs:complexType name="ArrayOfSearchManifest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchManifest" nillable="true" type="tns:SearchManifest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchManifest" nillable="true" type="tns:ArrayOfSearchManifest" />
</xs:schema>