csharp/SSO With Web Reference (WSDL)/App_WebReferences/ConciergeAPI/mex19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemberSuite.SDK" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://soap.membersuite.com/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="GLAccountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Asset" />
      <xs:enumeration value="Liability">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Equity">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Revenue">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expense">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CurrencyTradingAccount">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GLAccountType" nillable="true" type="tns:GLAccountType" />
  <xs:complexType name="ArrayOfExhibitBoothInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExhibitBoothInfo" nillable="true" type="tns:ExhibitBoothInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExhibitBoothInfo" nillable="true" type="tns:ArrayOfExhibitBoothInfo" />
  <xs:complexType name="ExhibitBoothInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoothCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="BoothID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoothName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoothProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoothProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoothTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoothTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UselessObject" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExhibitBoothInfo" nillable="true" type="tns:ExhibitBoothInfo" />
</xs:schema>