csharp/SSO With Web Reference (WSDL)/App_WebReferences/ConciergeAPI/mex23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://soap.membersuite.com/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" />
  <xs:import schemaLocation="https://soap.membersuite.com/mex?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Search">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SearchOperationGroup">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="Commands" nillable="true" type="q1:ArrayOfCommandShortcut" />
          <xs:element minOccurs="0" name="ConsistentRead" type="xs:boolean" />
          <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountField" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Module" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutputColumns" nillable="true" type="tns:ArrayOfSearchOutputColumn" />
          <xs:element minOccurs="0" name="OutputFormat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Override" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="RowLevelCommands" nillable="true" type="q2:ArrayOfCommandShortcut" />
          <xs:element minOccurs="0" name="SortColumns" nillable="true" type="tns:ArrayOfSearchSortColumn" />
          <xs:element minOccurs="0" name="TopN" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UniqueResult" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Search" nillable="true" type="tns:Search" />
  <xs:complexType name="SearchOperationGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SearchOperation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Criteria" nillable="true" type="tns:ArrayOfSearchOperation" />
          <xs:element minOccurs="0" name="GroupType" type="tns:SearchOperationGroupType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchOperationGroup" nillable="true" type="tns:SearchOperationGroup" />
  <xs:complexType name="SearchOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnableParameterization" type="xs:boolean" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValuesToOperateOn" nillable="true" type="q3:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchOperation" nillable="true" type="tns:SearchOperation" />
  <xs:complexType name="ArrayOfSearchOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchOperation" nillable="true" type="tns:SearchOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchOperation" nillable="true" type="tns:ArrayOfSearchOperation" />
  <xs:simpleType name="SearchOperationGroupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="And" />
      <xs:enumeration value="Or" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchOperationGroupType" nillable="true" type="tns:SearchOperationGroupType" />
  <xs:complexType name="ArrayOfSearchOutputColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchOutputColumn" nillable="true" type="tns:SearchOutputColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchOutputColumn" nillable="true" type="tns:ArrayOfSearchOutputColumn" />
  <xs:complexType name="SearchOutputColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="AggregateFunction" type="tns:SearchOuputAggregate" />
      <xs:element minOccurs="0" name="ColumnWidth" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchOutputColumn" nillable="true" type="tns:SearchOutputColumn" />
  <xs:simpleType name="SearchOuputAggregate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="GroupBy" />
      <xs:enumeration value="Sum" />
      <xs:enumeration value="Average" />
      <xs:enumeration value="Count" />
      <xs:enumeration value="Min" />
      <xs:enumeration value="Max" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchOuputAggregate" nillable="true" type="tns:SearchOuputAggregate" />
  <xs:complexType name="ArrayOfSearchSortColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchSortColumn" nillable="true" type="tns:SearchSortColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchSortColumn" nillable="true" type="tns:ArrayOfSearchSortColumn" />
  <xs:complexType name="SearchSortColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDescending" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchSortColumn" nillable="true" type="tns:SearchSortColumn" />
  <xs:complexType name="ArrayOfSearch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Search" nillable="true" type="tns:Search" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearch" nillable="true" type="tns:ArrayOfSearch" />
  <xs:complexType name="ArrayOfFlattenedSearchCriterion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlattenedSearchCriterion" nillable="true" type="tns:FlattenedSearchCriterion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlattenedSearchCriterion" nillable="true" type="tns:ArrayOfFlattenedSearchCriterion" />
  <xs:complexType name="FlattenedSearchCriterion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CloseParentehsesCount" type="xs:int" />
      <xs:element minOccurs="0" name="Conjunction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldOperation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldValues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsParameter" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpenParenthesesCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlattenedSearchCriterion" nillable="true" type="tns:FlattenedSearchCriterion" />
</xs:schema>