csharp/SSO With Web Reference (WSDL)/App_WebReferences/ConciergeAPI/mex4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Command" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Command" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:81/mex?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" />
  <xs:import schemaLocation="https://localhost:81/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://localhost:81/mex?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Resource" />
  <xs:import schemaLocation="https://localhost:81/mex?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" />
  <xs:import schemaLocation="https://localhost:81/mex?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Command.Views" />
  <xs:complexType name="ArrayOfViewMetadata.ControlSection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewMetadata.ControlSection" nillable="true" type="tns:ViewMetadata.ControlSection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewMetadata.ControlSection" nillable="true" type="tns:ArrayOfViewMetadata.ControlSection" />
  <xs:complexType name="ViewMetadata.ControlSection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Collapsible" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="Commands" nillable="true" type="q1:ArrayOfCommandShortcut" />
      <xs:element minOccurs="0" name="CopyFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeftControls" nillable="true" type="tns:ArrayOfControlMetadata" />
      <xs:element minOccurs="0" name="Module" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfViewMetadata.ReportLink" />
      <xs:element minOccurs="0" name="RightControls" nillable="true" type="tns:ArrayOfControlMetadata" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchesToDisplay" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="SubSections" nillable="true" type="tns:ArrayOfViewMetadata.ControlSection" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewMetadata.ControlSection" nillable="true" type="tns:ViewMetadata.ControlSection" />
  <xs:complexType name="ArrayOfControlMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlMetadata" nillable="true" type="tns:ControlMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfControlMetadata" nillable="true" type="tns:ArrayOfControlMetadata" />
  <xs:complexType name="ControlMetadata">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" base="q3:FieldMetadataOverride">
        <xs:sequence>
          <xs:element minOccurs="0" name="AcceptableValuesDataSource" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AcceptableValuesDataSourceExpression" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AcceptableValuesDataTextField" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AcceptableValuesDataValueField" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Columns" type="xs:int" />
          <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataSourceExpression" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="EnabledString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorMessage_RequiredField" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfControlMetadata.ControlProperty" />
          <xs:element minOccurs="0" name="UseEntireRow" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ControlMetadata" nillable="true" type="tns:ControlMetadata" />
  <xs:complexType name="ArrayOfControlMetadata.ControlProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlMetadata.ControlProperty" nillable="true" type="tns:ControlMetadata.ControlProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfControlMetadata.ControlProperty" nillable="true" type="tns:ArrayOfControlMetadata.ControlProperty" />
  <xs:complexType name="ControlMetadata.ControlProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlMetadata.ControlProperty" nillable="true" type="tns:ControlMetadata.ControlProperty" />
  <xs:complexType name="ArrayOfViewMetadata.ReportLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewMetadata.ReportLink" nillable="true" type="tns:ViewMetadata.ReportLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewMetadata.ReportLink" nillable="true" type="tns:ArrayOfViewMetadata.ReportLink" />
  <xs:complexType name="ViewMetadata.ReportLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customizable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcelAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDFAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" type="tns:ViewMetadata.ReportLinkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewMetadata.ReportLink" nillable="true" type="tns:ViewMetadata.ReportLink" />
  <xs:simpleType name="ViewMetadata.ReportLinkType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Report" />
      <xs:enumeration value="BuiltInSearch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ViewMetadata.ReportLinkType" nillable="true" type="tns:ViewMetadata.ReportLinkType" />
  <xs:simpleType name="CommandDefinition.CommandDisplayType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="PopupSmall" />
      <xs:enumeration value="PopupLarge" />
      <xs:enumeration value="PopupLargeExtraWide" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommandDefinition.CommandDisplayType" nillable="true" type="tns:CommandDefinition.CommandDisplayType" />
  <xs:complexType name="ArrayOfPartialReportDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartialReportDefinition" nillable="true" type="tns:PartialReportDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartialReportDefinition" nillable="true" type="tns:ArrayOfPartialReportDefinition" />
  <xs:complexType name="PartialReportDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedContextType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartialReportDefinition" nillable="true" type="tns:PartialReportDefinition" />
  <xs:complexType name="CommandDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowAnonymousUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowNullContext" type="xs:boolean" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataModelBindings" nillable="true" type="tns:ArrayOfCommandDefinition.DataModelBinding" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayType" type="tns:CommandDefinition.CommandDisplayType" />
      <xs:element minOccurs="0" name="ExpectedContextType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectsToCreate" nillable="true" type="tns:ArrayOfCommandDefinition.ObjectToCreate" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="QuickSearches" nillable="true" type="q4:ArrayOfNameValueStringPair" />
      <xs:element minOccurs="0" name="Redirect" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="RedirectTarget" type="q5:DisplayTarget" />
      <xs:element minOccurs="0" name="RequiresCommandSession" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequiresPermission" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Resource" minOccurs="0" name="Resources" nillable="true" type="q6:ArrayOfStringResource" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Searching" minOccurs="0" name="Searches" nillable="true" type="q7:ArrayOfSearch" />
      <xs:element minOccurs="0" name="TargetObject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Views" nillable="true" type="tns:ArrayOfViewMetadata" />
      <xs:element minOccurs="0" name="Workflow" nillable="true" type="tns:CommandDefinition.CommandWorkflow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandDefinition" nillable="true" type="tns:CommandDefinition" />
  <xs:complexType name="ArrayOfCommandDefinition.DataModelBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandDefinition.DataModelBinding" nillable="true" type="tns:CommandDefinition.DataModelBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandDefinition.DataModelBinding" nillable="true" type="tns:ArrayOfCommandDefinition.DataModelBinding" />
  <xs:complexType name="CommandDefinition.DataModelBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandDefinition.DataModelBinding" nillable="true" type="tns:CommandDefinition.DataModelBinding" />
  <xs:complexType name="ArrayOfCommandDefinition.ObjectToCreate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandDefinition.ObjectToCreate" nillable="true" type="tns:CommandDefinition.ObjectToCreate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandDefinition.ObjectToCreate" nillable="true" type="tns:ArrayOfCommandDefinition.ObjectToCreate" />
  <xs:complexType name="CommandDefinition.ObjectToCreate">
    <xs:sequence>
      <xs:element minOccurs="0" name="NameInModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandDefinition.ObjectToCreate" nillable="true" type="tns:CommandDefinition.ObjectToCreate" />
  <xs:complexType name="ArrayOfViewMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewMetadata" nillable="true" type="tns:ViewMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewMetadata" nillable="true" type="tns:ArrayOfViewMetadata" />
  <xs:complexType name="ViewMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="AjaxTransitionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BreadcrumbBar" nillable="true" type="tns:ViewMetadata.BreadcrumbBarStructure" />
      <xs:element minOccurs="0" name="CopyFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataBindings" nillable="true" type="tns:ArrayOfControlMetadata" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Resource" minOccurs="0" name="Resources" nillable="true" type="q8:ArrayOfStringResource" />
      <xs:element minOccurs="0" name="SpecificViewMetadata" nillable="true" type="tns:ViewMetadata.SpecificViewMetadataCollection" />
      <xs:element minOccurs="0" name="Transitions" nillable="true" type="tns:ArrayOfViewMetadata.ViewTransition" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewMetadata" nillable="true" type="tns:ViewMetadata" />
  <xs:complexType name="ViewMetadata.BreadcrumbBarStructure">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="Commands" nillable="true" type="q9:ArrayOfCommandShortcut" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewMetadata.BreadcrumbBarStructure" nillable="true" type="tns:ViewMetadata.BreadcrumbBarStructure" />
  <xs:complexType name="ViewMetadata.SpecificViewMetadataCollection">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Command.Views" minOccurs="0" name="DashboardMetadata" nillable="true" type="q10:DashboardMetadata" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Command.Views" minOccurs="0" name="Data360ViewMetadata" nillable="true" type="q11:Data360ViewMetadata" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Command.Views" minOccurs="0" name="DataEntryViewMetadata" nillable="true" type="q12:DataEntryViewMetadata" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Command.Views" minOccurs="0" name="PageLayoutEditorMetadata" nillable="true" type="q13:PageLayoutEditorMetadata" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Command.Views" minOccurs="0" name="TabularDataViewMetadata" nillable="true" type="q14:TabularDataViewMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewMetadata.SpecificViewMetadataCollection" nillable="true" type="tns:ViewMetadata.SpecificViewMetadataCollection" />
  <xs:complexType name="ArrayOfViewMetadata.ViewTransition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewMetadata.ViewTransition" nillable="true" type="tns:ViewMetadata.ViewTransition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewMetadata.ViewTransition" nillable="true" type="tns:ArrayOfViewMetadata.ViewTransition" />
  <xs:complexType name="ViewMetadata.ViewTransition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" base="q15:CommandShortcut">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowIf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuppressValidation" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewMetadata.ViewTransition" nillable="true" type="tns:ViewMetadata.ViewTransition" />
  <xs:complexType name="CommandDefinition.CommandWorkflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="States" nillable="true" type="tns:ArrayOfCommandDefinition.CommandWorkflowState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandDefinition.CommandWorkflow" nillable="true" type="tns:CommandDefinition.CommandWorkflow" />
  <xs:complexType name="ArrayOfCommandDefinition.CommandWorkflowState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandDefinition.CommandWorkflowState" nillable="true" type="tns:CommandDefinition.CommandWorkflowState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandDefinition.CommandWorkflowState" nillable="true" type="tns:ArrayOfCommandDefinition.CommandWorkflowState" />
  <xs:complexType name="CommandDefinition.CommandWorkflowState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transitions" nillable="true" type="tns:ArrayOfCommandDefinition.CommandWorkflowStateTransitition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandDefinition.CommandWorkflowState" nillable="true" type="tns:CommandDefinition.CommandWorkflowState" />
  <xs:complexType name="ArrayOfCommandDefinition.CommandWorkflowStateTransitition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandDefinition.CommandWorkflowStateTransitition" nillable="true" type="tns:CommandDefinition.CommandWorkflowStateTransitition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandDefinition.CommandWorkflowStateTransitition" nillable="true" type="tns:ArrayOfCommandDefinition.CommandWorkflowStateTransitition" />
  <xs:complexType name="CommandDefinition.CommandWorkflowStateTransitition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCommand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCommandArg1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCommandArg2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCommandArg3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCommandArg4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCommandContext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferCommandSession" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandDefinition.CommandWorkflowStateTransitition" nillable="true" type="tns:CommandDefinition.CommandWorkflowStateTransitition" />
  <xs:complexType name="ArrayOfPartialCommandDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartialCommandDefinition" nillable="true" type="tns:PartialCommandDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartialCommandDefinition" nillable="true" type="tns:ArrayOfPartialCommandDefinition" />
  <xs:complexType name="PartialCommandDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayType" type="tns:CommandDefinition.CommandDisplayType" />
      <xs:element minOccurs="0" name="FirstView" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartialCommandDefinition" nillable="true" type="tns:PartialCommandDefinition" />
  <xs:complexType name="ArrayOfPartialObjectDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartialObjectDefinition" nillable="true" type="tns:PartialObjectDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartialObjectDefinition" nillable="true" type="tns:ArrayOfPartialObjectDefinition" />
  <xs:complexType name="PartialObjectDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Module" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartialObjectDefinition" nillable="true" type="tns:PartialObjectDefinition" />
</xs:schema>