csharp/SSO With Web Reference (WSDL)/App_WebReferences/ConciergeAPI/mex5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://soap.membersuite.com/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" />
  <xs:complexType name="MetadataBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataBase" nillable="true" type="tns:MetadataBase" />
  <xs:complexType name="OrderPayload">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntitlementAdjustments" nillable="true" type="tns:ArrayOfOrderPayloadEntitlementAdjustments" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Types" minOccurs="0" name="ObjectsToSave" nillable="true" type="q1:ArrayOfMemberSuiteObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderPayload" nillable="true" type="tns:OrderPayload" />
  <xs:complexType name="ArrayOfOrderPayloadEntitlementAdjustments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderPayloadEntitlementAdjustments" nillable="true" type="tns:OrderPayloadEntitlementAdjustments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderPayloadEntitlementAdjustments" nillable="true" type="tns:ArrayOfOrderPayloadEntitlementAdjustments" />
  <xs:complexType name="OrderPayloadEntitlementAdjustments">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountToAdjust" type="xs:decimal" />
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntitlementType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderPayloadEntitlementAdjustments" nillable="true" type="tns:OrderPayloadEntitlementAdjustments" />
</xs:schema>