csharp/SSO With Web Reference (WSDL)/App_WebReferences/ConciergeAPI/mex8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Resource" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberSuite.SDK.Manifests.Resource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStringResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StringResource" nillable="true" type="tns:StringResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStringResource" nillable="true" type="tns:ArrayOfStringResource" />
  <xs:complexType name="StringResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringResource" nillable="true" type="tns:StringResource" />
</xs:schema>